@import "bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#content {
  position: absolute;
  left: 310px;
  background-color: #e8e8e8;
  top: 85px;
  width: calc(100% - 310px);
  transition: all 0.5s ease-in-out;
  height: calc(100% - 85px);
  padding: 50px;

  &.full {
    left: 0;
    width: 100%;
  }
}
